<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chats</title>
</head>
<body>
    <div>
        <form method="POST" action="/chats">
            <input type="text"
            placeholder="from" name="from"> <br><br>
            <input type="text"
            placeholder="to" name="to"><br><br>
            <textarea name="msg" id="" placeholder="message here"></textarea><br><br>

            <button>Create New Chat</button>
        </form>
    </div>
</body>
</html>